$focusColor: rgb(200, 218, 255);
$borderColor: #A9A9A9;
$spinnerBGColor: #D2D2D2;
$clearColor:#3476FF;
.pf-date-wrapper{
	position:relative;
	display:inline-block;
	width:169px;
	border:1px solid $borderColor;
	.pf-input-real{
		display:none;
	}
	.pf-input-date-month, .pf-input-date-day, .pf-input-date-year{
		border:none;
		padding:none;
		margin:1px;
		font-family: monospace;
		&:focus{
			background: $focusColor;
			box-shadow:none;
			outline:none;
			cursor:none;
		}
	}
	.pf-input-date-month{
		width:1.2em;
	}
	.pf-input-date-day{
		width:1.2em;
	}
	.pf-input-date-year{
		width:2.25em;
	}
	.pf-input-date-clear,
    .pf-input-date-up,
    .pf-input-date-down,
    .pf-input-date-toggle-cal{
    	position:absolute;
    	top:0;
    	right:0;
    	height:1.4em;
    	padding:0 .25em;
    	border:none;
    	margin:0;
    	background-color:transparent;
    	opacity:0;
    	-moz-transition:opacity .25s;
    	-o-transition:opacity .25s;
    	transition:opacity .25s;
    }
    .pf-input-date-clear{
    	right:2.65em;
    	display:none;
    	&:before{
    		content:'\00d7';
    		font-size: 1.2em;
    		position: relative;
			top: .1em;
			font-weight: bold;
			color:$clearColor;
    	}
    }
    .pf-input-date-up, .pf-input-date-down{
        height:50%;
        right:1.5em;
        width:1.25em;
    }
    .pf-input-date-up{

    	background:$spinnerBGColor url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAJ0lEQVQIW2NkQAX/GRgYGGFCcAYDAwNIAkUcJoksAVcAksQmAVYAAPtZBATjFjjUAAAAAElFTkSuQmCC) no-repeat center center;
    }
    .pf-input-date-down{
		top:50%;
        background:$spinnerBGColor url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAI0lEQVQIW2NkYGD4z4ADMELFsSlghEmC1CArAIsjS8IUwMUA+wIEBOeTvfsAAAAASUVORK5CYII=) no-repeat center center;
    }
    .pf-input-date-toggle-cal{
        width: 1.5em;
        height: 100%;
        background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAKklEQVQIW2NkYGD4z0AAMELl8SlkhCkCqcWmECyPrAhdIVwOXRFMIYo4APD+BQV5v6tcAAAAAElFTkSuQmCC) no-repeat center center;
    }
    &.pf-wrapper-focused{
		box-shadow:0 0 3px 2px $focusColor;
		border-color:darken($focusColor,5%);
	}
	&:hover, &.pf-wrapper-focused{
		.pf-input-date-clear,
	    .pf-input-date-up,
	    .pf-input-date-down,
	    .pf-input-date-toggle-cal{
			opacity:1;
	    }
	}
}

